@import url(./vendor/fonts.css);

.root {
  height: 100vh;
  margin: 0;
  background: rgb(195, 243, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
}

.game__field {
  box-sizing: border-box;
  border: 5px solid rgba(97, 204, 247, 0.774);
  background-color: rgb(196, 240, 240);
}

.header {
  /* display: flex;
  align-items: center;
  gap: 30px; */
  padding-bottom: 20px;
  /* background-color: #df4377; */
}

.header__title {
  margin: 0;
  
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}