@import url(../vendor/fonts.css);

.root {
  height: 100vh;
  margin: 0;
  background-color: rgba(195, 243, 172, 1);
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.container {
  width: 400px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 2vh 0 1vh;
}

.header__title {
  margin: 0;
  
  font-family: 'Fowler', Arial, sans-serif;
  font-size: 72px;
  color: #41634c;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

.header__logo {
  width: 9vh;
  height: 8vh;
}

.game__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-bottom: 2vh;
}

.score {
  display: flex;
  align-items: center;
  gap: 10px;
}

.score__count {
  font-family: 'Calculator', Arial, sans-serif;
  font-size: 6vh;
}

.button {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 0;
  width: 6vh;
  height: 6vh;
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.restart {
  background-image: url(../images/restart.svg);
}

.pause {
  background-image: url(../images/pause.svg);
}

.score__image {
  width: 6vh;
  height: 6vh;
}

.game__field {
  width: 50vh;
  height: 50vh;
  box-sizing: border-box;
  border: 5px solid #50C878;
  background-color: rgb(196, 240, 240);
}

.direction-controls {
  display: grid;
  grid-template-areas: 
  ". up ."
  "left . right"
  ". down .";
  height: 20vh;
  width: 50%;
  padding-top: 3vh;
}

.direction-button {
  height: 6vh;
  border-radius: 10px;
  justify-self: stretch;
  background-color: #50C878;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.direction-button_type_up {
  grid-area: up;
  background-image: url(../images/up.svg);
}

.direction-button_type_left {
  grid-area: left;
  background-image: url(../images/left.svg);
}

.direction-button_type_right {
  grid-area: right;
  background-image: url(../images/right.svg);
}

.direction-button_type_down {
  grid-area: down;
  background-image: url(../images/down.svg);
}